@model List<Employee>;

@{
    ViewBag.Title = "Index";
}

<div class="card-deck">
    <div class="row">
        @foreach (var Employee in Model)
        {
            var imagePath = "~/images/" + (Employee.ImagePath ?? "profile.png");
            <div class="col-md-3">            
                <div class="card m-3">
                    <div class="card-header">
                        @Employee.Name
                    </div>
                    <img class="card-img-top imgThumbNail" src="@imagePath" asp-append-version/>
                    <div class="card-footer">
                        @* @Html.ActionLink("View", "Details", "Home", new {id = Employee.Id}) *@
                        @* <a href="@(Url.Action("details", "home", new{id = Employee.Id}))" class="btn btn-primary">View</a> *@
                        <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Details" asp-route-id="@Employee.Id">View</a>
                        <a asp-controller="home" asp-action="edit" asp-route-id="@Employee.Id" class="btn btn-primary m-1">Edit</a>
                        <a asp-controller="home" asp-action="delete" asp-route-id="@Employee.Id" class="btn btn-danger m-1">Delete</a>
                    </div>
                </div>                
            </div>
        }        
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            
        });
    </script>
}